<%= error_messages_for 'puzzle' %>

<!--[form:puzzle]-->
<p><label for="puzzle_name">Name</label><br/>
<%= puzzle_form.text_field 'name'  %></p>

<p><label for="puzzle_description">Description</label><br/>
<%= puzzle_form.text_field 'description', :size => 50  %></p>

<p><label for="puzzle_size">Size</label><br/>
<%= puzzle_form.text_field 'size', :size => 8 %></p>

<p><label for="puzzle_active">Active?</label><br />
<%= puzzle_form.check_box 'active' %></p>
<!--[eoform:puzzle]-->

