<h1>Editing puzzle</h1>

<% form_for :product, @product, :url => {:action => 'update', :id => @product}, :html => {:multipart => true} do |form| %>
  <%= render :partial => 'form', :object => form %>
  <%= submit_tag 'Save' %>
<% end %>

<%= link_to 'Cancel', :action => 'list' %>
