<h2>Edit Configuration for <%=h @configuration.puzzle.name %></h2>

<% form_for :configuration, @configuration, :url => { :action => 'update_configuration', :id => @configuration }, :html => {:multipart => true} do |configuration_form| %>
  <%= render :partial => 'configuration_form', :object => configuration_form %>
  <%= submit_tag "Update Configuration" %>
<% end %>

<%= link_to 'Cancel', :action => 'show_configurations', :id => @puzzle %>