/*
color pallete
#F2C461
#CCA552
#A68642
#86B5BF
#F2F2F2
#0D0D0D
#F2F2F2
#F2F2F2
#FFFFFF
*/
.even {
	
}

.odd {
	background-color: #a6ccd4;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.first_letter {
	font-size: 1.5em;
	margin: 1px;
}

a {
	color: #3E729B;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

img {
	border: 3px solid #fff;
}

#cart {
	position: relative;
	top: -50px;
	left: 600px;
}

#nav { 
	border-top: 1px solid #7F6632;
	border-bottom: 1px solid #7F6632;
	text-align: center;
	color: #564521;
	font-size: 1.5em;
	font-variant: small-caps;
	font-weight: bold;
}

#nav a {
	font-weight: normal;
	color: #7F6632;
	font-variant: small-caps;
	text-decoration: none;
	
}

#nav a:hover {
	text-decoration: underline;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #628199; /* #7F6632; */
	width: 100%;
	text-align: center;
	height: 100%;
}

hr {
	width: 75%; 
	background-color: #7F6632; 
	color: #7F6632;
	height: 1px;
	border: 1px solid #7F6632;
}

label {
	font-size: .9em;
}

td.label {
	width: 150px;
	font-size: .9em;
}

td.field {
	width: 200px;
	font-size: .95em;
}

.sale {
	color: red;
}

#wrapper {
	background: #e6d293 url(/images/puzzle.png) no-repeat top left;
	/*background: #9FD6E2 url(/images/bg.png) no-repeat top left;*/
	margin: 0px auto;
	/*margin-top: 10px;*/
	width: 800px;
	text-align: left;
	min-height: 800px;
	padding: 0px 20px;
}

#inventory td {
	padding: 6px;
}

#header {
	width: 800px;
}

#content {
	width: 800px;
	min-height: 500px;
	margin-bottom: 25px;
}

#footer {
	clear: both;
	text-align: center;
	width: 800px;
	margin: 0px;
	padding-bottom: 10px;
	border-top: 1px solid #7F6632;
}

/* errors */
#mail_message_form .fieldWithErrors {
  padding: 2px;
  background-color: #7F6632;
  display: table;
}

#mail_message_form #errorExplanation {
  width: 400px;
  border: 2px solid #7F6632;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#mail_message_form #errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#mail_message_form #errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#mail_message_form #errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
