<div id='slideshowHolder'>
  <% @puzzles.each do |p| %>
    <% p.configurations.each do |c| %>
      <img src='/assets/full_size/<%= c.default_picture %>' alt="<%= c.puzzle.name %> - <%= c.name %>"></img>
    <% end %>
  <% end %>
</div>
<script>
  $(document).ready( function(){
      $('#slideshowHolder').jqFancyTransitions({ width: 500, height: 375 });
  });
</script>

