<blockquote style="font-size: 2em;"><strong>MyDaddyPuzzles</strong> are made of poplar grown and harvested in South Carolina.  They are painted or stained and sealed with materials manufactured in Ohio.  They are sanded and painted in our home in Alexandria.  Everything you see here is most definitely <strong>MADE IN THE USA</strong>.</blockquote>
<blockquote style="font-size: 2em;">
<strong>MyDaddyPuzzles</strong> are painted or stained with ASTM D-4236 Compliant <strong>(NON-TOXIC</strong>) materials.</blockquote>