<p><%= image_tag 'a_show_of_hands.jpg', :style => 'float: left;margin-right: 30px;margin-bottom: 40px;', :title => "A Show of Hands Logo" %><h3>MyDaddyPuzzles Available at A Show of Hands</h3><span class="first_letter">W</span>e are proud to announce that MyDaddyPuzzles will now be available for purchase in the historic Del Ray neighborhood of Alexandria at <a href="http://www.ashowofhands.biz" target="_blank">A Show of Hands</a>.</p>
<p>A Show of Hands will offer up 23 of our puzzle designs for sale among their other wonderful locally made items.  We are very pleased to have our work showcased this popular Alexandria shop located on Mount Vernon Avenue.  To see hours of operation visit their website at <a href="http://www.ashowofhands.biz" target="_blank">www.ashowofhands.biz</a>. </p>

<br style="clear: both;"/>
<p><%= image_tag 'art_on_the_avenue.jpg', :style => 'float: left;margin-right: 40px;', :title => "2007 Art on the Avenue Booth" %><h3 >Art on the Avenue</h3><span class="first_letter">A</span> big thank you to everyone who visited us at the 12th Annual <%= link_to "Art on the Avenue", "http://www.artontheavenue.org/", :target => 'blank' %> Festival on Saturday!  <br /><br />We had a wonderful time sharing our puzzles with you and we appreciate your business.  We hope to see you again next year.  Also look for MyDaddyPuzzles in some local stores very soon.  We'll post more information about the stores as soon as we finalize arrangements.</p>