<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title><%= @page_title %></title>
		<meta name="description" content="<%= @page_meta %>" />
		<meta name="keywords" content="<%= @page_keywords %>" />
		<meta name="verify-v1" content="LyzhhMjS5nggxIUYJ2+3l/ft+YMX5CPcYTjyczTsnog=" />
		<%= stylesheet_link_tag 'standard', 'scaffold' %>
		<%= javascript_include_tag 'prototype', 'effects' %>
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<div style="float: right;margin-bottom: 0px;">
					<%= link_to image_tag('mydaddypuzzles.gif', :style => 'border: 0px;'), :action => "index" %><br />
					<%= link_to image_tag('made_in_usa.png', :alt => 'Made in the USA', :title => 'Made in the USA', :style => 'border: 0px;'), :action => 'made_in_usa' %>
				</div>
				
				<p id="nav" style="clear: both;">
				<%= link_to_unless_current "Home", {:action => "index"} %> ::
				<%= link_to_unless_current "Store", :action => "store" %> ::
				<%= link_to_unless_current "Gallery", :action => "gallery" %> ::
				<%= link_to_unless_current "Story", :action => "story" %> ::
				<%= link_to_unless_current "User Stories", :action => "stories" %> :: 
				<%= link_to_unless_current "News", :action => 'news' %> ::
				<%= link_to_unless_current "Talk to us", :action => "contact" %></p>
			</div>
			<div id="content">
				<span style="color: red;"><%= flash[:notice] %></span>
				<%= yield %>
			</div>
			<div id="footer">
				<p>
					<span style="letter-spacing: .20em;">MyDaddyPuzzles LLC</span><br/>
					Alexandria, Va<br />
					&copy; <%= Date.today.year %>
				</p>
				<p style="width: 100%; text-align: center;">
				<script language=javascript type="text/javascript" src="http://ss.webring.com/navbar?f=j;y=mydaddypuzzles;u=defurl">
				</script>
				<center>Powered by <a href="http://dir.webring.com/rw" target=_top>WebRing</a>.</center>

				<!--optional-->
				<noscript><center><table bgcolor=gray cellspacing=0 border=2><tr>
				<td><table cellpadding=2 cellspacing=0 border=0><tr><td align=center>
				<font face=arial size=-1>This site is a member of WebRing. 
				<br>To browse visit <a href="http://ss.webring.com/navbar?f=l;y=mydaddypuzzles;u=defurl">
				Here</a>.</font></td></tr></table></td></tr></table>
				</center></noscript>
				</p>
				<p style="font-size: .85em;">
				 Site lovingly crafted in <a href="http://www.rubyonrails.org">Ruby on Rails</a> by <a href="http://justinbkay.org/">Justin B. Kay</a>	
				</p>
			</div>	
		</div>
		<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		var pageTracker = _gat._getTracker("UA-5484456-3");
		pageTracker._trackPageview();
		</script>
	</body>
</html>